html {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.main1 {
  width: 100%;
}

h1 {
  font-style: italic;
  font-size: 1.8rem;
  font-weight: normal;
  margin: 1rem;
}

figcaption {
  font-size: 1.5rem;
  font-style: italic;
}

dl dt {
  font-style: italic;
}
