html {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
}

img {
  width: 100%;
}

h2 {
  font-style: italic;
  font-weight: normal;
}

h1 {
  font-style: italic;
  font-size: 1.8rem;
  font-weight: normal;
}

main {
  display: grid;

}
